
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="col-sm-6 form-group">
                <label>文章名</label>
                <input type="text" class="form-control" placeholder="" ng-model="articleData.article_title">
            </div>
            <div class="col-sm-6 form-group">
                <label>简介</label>
                <input type="text" class="form-control" placeholder="" ng-model="articleData.article_intro">
            </div>

            <div class="col-sm-12">

                <script type="text/javascript" src="/source/ueditor/ueditor.config.js"></script>
                <!-- 编辑器源码文件 -->
                <script type="text/javascript" src="/source/ueditor/ueditor.all.js"></script>

                <script id="article_detail" type="text/plain" style="height:500px;width:100%;"></script>

            </div>

        </div>
    </div>






