li > a {
  display: inline-block;
}
.main {
  width: 100%;
  background-color: #f5f5f5;
}
.main .container .s-service .service-list {
  padding: 0 28px;
}
.main .container .s-service .service-list li {
  float: left;
  margin-bottom: 30px;
  width: 282px;
}
.main .container .s-service .service-list li.h-plr105 {
  margin-left: 105px;
  margin-right: 105px;
}
.main .container .s-produce .produce-list > li {
  position: relative;
  float: left;
  width: 360px;
  margin-bottom: 20px;
}
.main .container .s-produce .produce-list > li.h-plr20 {
  margin-left: 20px;
  margin-right: 20px;
}
.main .container .s-produce .produce-list > li .s-produce-modals {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 48px;
  background: #000;
  opacity: .4;
  filter: alpha(opacity=40);
}
.main .container .s-produce .produce-list > li .s-produce-recommend {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.main .container .s-produce .produce-list > li .s-produce-recommend a {
  line-height: 48px;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.main .container .s-produce .produce-list > li .s-produce-recommend a .w-break {
  display: block;
  margin: 0 auto;
  width: 270px;
  line-height: 50px;
}
.main .container .s-produce .produce-list > li .s-produce-recommend a .w-break:before {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  margin-top: 18px;
  margin-left: -20px;
  background: url(../imgs/recommon-icon.png);
}
.main .container .s-question,
.main .container .s-law {
  float: left;
  width: 590px;
}
.main .container .s-question p,
.main .container .s-law p {
  line-height: 38px;
  font-size: 16px;
}
.main .container .s-question p > span,
.main .container .s-law p > span {
  float: right;
  color: #a7a7a7;
}
.main .container .s-question a:hover,
.main .container .s-law a:hover {
  color: #ff6e00;
}
.main .container .s-question {
  margin-right: 20px;
}
