.main .container .s-insure .order {
  margin-top: 20px;
  padding: 20px;
  height: 190px;
  border: 1px solid #ddd;
  background: #fbfbfb;
}
.main .container .s-insure .order dl dt,
.main .container .s-insure .order dl dd {
  float: left;
}
.main .container .s-insure .order dl dt {
  width: 270px;
}
.main .container .s-insure .order dl dt img {
  width: 270px;
  height: 150px;
}
.main .container .s-insure .order dl dd {
  margin-left: 20px;
  width: 780px;
}
.main .container .s-insure .order dl dd a {
  line-height: 24px;
}
.main .container .s-insure .order dl dd a h3 {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
}
.main .container .s-insure .order dl dd a img {
  float: right;
  width: 142px;
  height: 26px;
  border: 1px solid #ddd;
}
.main .container .s-insure .order dl dd a:hover {
  color: #ff6e00;
}
.main .container .s-insure .order dl dd p {
  margin-top: 20px;
  line-height: 24px;
}
.main .container .s-insure .order dl dd ul {
  margin-top: 20px;
}
.main .container .s-insure .order dl dd ul li {
  float: left;
  margin-right: 30px;
}
.main .container .s-insure .order dl dd ul li span {
  color: #ff6e00;
}
.main .container .s-insure .page {
  margin: 0 auto;
  margin-top: 70px;
  width: 600px;
  height: 30px;
}
.main .container .s-insure .page li {
  float: left;
  margin-right: 5px;
}
.main .container .s-insure .page li.active a {
  border-color: transparent;
  cursor: default;
}
.main .container .s-insure .page li a {
  display: inline-block;
  line-height: 28px;
  text-align: center;
  border: 1px solid #dfdfdf;
}
.main .container .s-insure .page li a.a-style-m {
  width: 62px;
}
.main .container .s-insure .page li a.a-style-s {
  width: 36px;
}
.main .container .s-insure .page li a.a-style-jump {
  float: left;
  width: 50px;
}
.main .container .s-insure .page li .ipt-jump {
  float: left;
  width: 46px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #dfdfdf;
}
.main .container .s-insure .page li .btn-go {
  width: 48px;
  height: 28px;
  border-radius: 4px;
  background: #6bc30c;
  color: #fff;
}
