.main .container .s-produce .produce-list > li {
  position: relative;
  float: left;
  width: 360px;
  margin-bottom: 20px;
}
.main .container .s-produce .produce-list > li.h-plr20 {
  margin-left: 20px;
  margin-right: 20px;
}
.main .container .s-produce .produce-list > li .s-produce-modals {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 48px;
  background: #000;
  opacity: .4;
  filter: alpha(opacity=40);
}
.main .container .s-produce .produce-list > li .s-produce-recommend {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.main .container .s-produce .produce-list > li .s-produce-recommend .w-break {
  display: block;
  margin: 0 auto;
  width: 310px;
}
.main .container .s-produce .produce-list > li .s-produce-recommend a {
  line-height: 48px;
  color: #fff;
  font-size: 18px;
}
